body {
  font-family: 'Popping', sans-serif;
}

main {
  min-height: 100vh;
  background-color: #dadfe8;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding-top: 50px;
  flex-direction: column;
}
